<div>
	<h2>The History</h2>
	<p>Forged in the .... forge, Bingi Blades is a boutique purveyor of bespoke blacksmithery.</p>
	<p>More content would be placed here eventually, but I prefer hammering molten steel than fiddling with words on a page.  To me, the sword is mightier than the pen, and a hell of a lot more fun to play with. </p></br>
	<h2>Who We Are</h2>
	<p>A bacon-eating pyromanic hippy, I live a swashbuckling life of building houses with my bare hands, sailing the seven seas in wooden boats, hunting my dinner with a bow and arrow(s), and constructing weapons from scrap steel.I've been burning things since I was a child, so a career that involved staring for hours at an end into the dancing flames seemed like a good idea.
	</p></br>
	<h2>What We Do</h2>
	<p>Basically we beat the crap out of something until it's flat, and then we grind it until it's sharp, then we stick
	a handle on the blunt end. Then you buy it. Or else.</p>
	<p>If you've got questions just <%= link_to 'contact us', contact_path %>.</p></br>
</div>
