<div>
	<h2>Want more information?</h2>
	<p>We can build you anything. As long as it's sharp and shiny we'll give it a go. And if it's neither, we can probably fix that for you too.</p>
	<p>Contact us via the details we'll eventually include here....</p>
</div>
