<div>
	<h1>BINGI BLADES</h1></br>
	<div>
	  <p><b>>>EVENTUALLY SCROLLING PICTURES WOULD GO HERE<<</b></p></br>
	</div>
	<h2>bespoke metalware for not so gentle people</h2></br>
	<p>As hard as calculus with a hangover</p>
	<p>As sharp as Occam's Razor</p>
	<p>As sleek as a fish in a windtunnel</p>
	<p>As bright as ... well, actually, that's <%= link_to "up to you", about_path %>...</p></br>
	

</div>